<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssrs.permission.mapper.RoleMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssrs.permission.model.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type
    </sql>

    <select id="findRoleByUserId" resultType="java.lang.String">
        select r.type from ssrs_role r,ssrs_user_role ur where ur.rid = r.id and ur.uid = #{id,jdbcType=BIGINT}
    </select>
</mapper>
