<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssrs.mapper.MailMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssrs.model.Mail">
        <id column="id" property="id" />
        <result column="host" property="host" />
        <result column="port" property="port" />
        <result column="from" property="from" />
        <result column="user" property="user" />
        <result column="pass" property="pass" />
        <result column="startttls_enable" property="startttlsEnable" />
        <result column="vaildate_day" property="vaildateDay" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, host, port, from, user, pass, startttls_enable, vaildate_day
    </sql>

</mapper>
