<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssrs.mapper.SignMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssrs.model.Sign">
        <id column="sign_id" property="signId" />
        <result column="sign_phone" property="signPhone" />
        <result column="sign_code" property="signCode" />
        <result column="sign_time" property="signTime" />
        <result column="sign_type" property="signType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sign_id, sign_phone, sign_code, sign_time, sign_type
    </sql>

</mapper>
