<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssrs.mapper.WebSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ssrs.model.WebSetting">
        <id column="id" property="id" />
        <result column="web_name" property="webName" />
        <result column="sige_size" property="sigeSize" />
        <result column="sign_active_time" property="signActiveTime" />
        <result column="fotter_info" property="fotterInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, web_name, sige_size, sign_active_time, fotter_info
    </sql>

</mapper>
